name: testing

on:
  pull_request:
    branches: ['main']
  push:
    branches: ['main']

jobs:
  unit:
    strategy:
      fail-fast: false
      matrix:
        platform: [ubuntu-latest, macos-latest]
    runs-on: ${{ matrix.platform }}
    steps:
      - name: Check out
        uses: actions/checkout@v4

      - name: Install the dependencies
        run: npm ci

      - name: Run tests
        run: npm run test

  integration:
    needs: unit
    strategy:
      fail-fast: false
      matrix:
        platform: [ubuntu-latest, macos-latest]
    runs-on: ${{ matrix.platform }}
    steps:
      - name: Check out
        uses: actions/checkout@v4

      - name: Debug options
        uses: ./
        with:
          lstn: v0.9.0
          lstn_flags: '--debug-options'

      - name: Self run (default reporter)
        uses: ./
